<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
       <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="form-modal">
    
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>
    
        <div id="login-form">
            <form>
                <input type="text" name="email" id="typeemail" placeholder="Enter email" required/>
                <input type="password" name="password" placeholder="Enter password" required/>
                <p id="showerror" style="display: none ; color: red; text-align: center;" > invalid email try again</p>
                <button type="button" onclick="" id="btnpress" class=" btn login">login</button>
                <p><a href="/forgotten">Forgotten password</a></p>
                <hr/>
    
            </form>
        </div>
    
        <div id="signup-form">
            <form action="/api/authroute/register" method="POST" class="signup" >
                <input type="text" name="name" placeholder="Choose username" required />
                <input type="email" name="email" placeholder="Enter your email" required/>
                <input type="number" name="mobile" placeholder="Phone number" required/>
                <input type="password" name="password" placeholder="Create password" required/>
             <!-- role selection -->
               <!-- <select name="isAdmin" id="role" required>
                <option value="false">User</option>
                <option value="true">Admin</option>
               </select>  -->

               <button type="submit" class="btn signup" id="btn-signup2">create account</button>
               
               <hr/>
            </form>
        </div>
    
    </div>
    <script src="js/signup.js"></script>
    <script>
        // document.addEventListener('DOMContentLoaded',function(){

        // const roleSelect=document.getElementById('role');
        // const adminCodeInput=document.getElementById('adminCode');

        // roleSelect.addEventListener('change',function(){
        //     if(roleSelect.value=='admin'){
        //         adminCodeInput.setAttribute('required','required');
        //         adminCodeInput.style.display='block';
        //     }else{
        //         adminCodeInput.removeAttribute('required');
        //         adminCodeInput.style.display='none';
        //         adminCodeInput.value='';

        //     }
        // })

        document.getElementById('btnpress').addEventListener('click',function(){
            const email=document.getElementById('typeemail').value;
            const password = document.querySelector('input[name="password"]').value;

        if(email && password) {
        fetch('/api/authroute/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email ,password})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success==false) {
                document.getElementById('showerror').style.display="block";

            } else {
                window.location.href=data.redirectUrl;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

        });

    // }); 
    </script>    
</body>
</html>

