<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
       <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="form-modal">
    
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>
    
        <div id="login-form">
            <form>
                <input type="text" name="email" id="typeemail" placeholder="Enter email" required/>
                <input type="password" name="password" placeholder="Enter password" required/>
                <p id="showerror" style="display: none ; color: red; text-align: center;" > invalid email or password try again</p>
                <button type="button" onclick="" id="btnpress" class=" btn login">login</button>
                <p><a href="/forgotten">Forgotten password</a></p>
                <hr/>
    
            </form>
        </div>
    
        <div id="signup-form">
            <form action="/api/authroute/register" method="POST" class="signup" >
                <input type="text" name="name" placeholder="Choose username" required />
                <input type="email" name="email" placeholder="Enter your email" required/>
                <input type="number" name="mobile" placeholder="Phone number" required/>
                <input type="password" name="password" placeholder="Create password" required/>

               <button type="submit" class="btn signup" id="btn-signup2">create account</button>
               
               <hr/>
            </form>
        </div>
    
    </div>
    <script src="js/signup.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        document.getElementById('btnpress').addEventListener('click',function(){
            const email=document.getElementById('typeemail').value;
            const password = document.querySelector('input[name="password"]').value;

        if(email && password) {
        fetch('/api/authroute/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email ,password})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success==false) {
                if(data.message=="Invalid email or password"){
                    Swal.fire({
                    icon:'error',
                    title:'Login failed',
                    text:'Invalid email or password. Please try again!',
                    confirmButtonText:'OK'
                });
            } else if(data.message=="User is blocked"){
                swal.fire({
                    icon:'warning',
                    title:'Blocked Account',
                    text:'Your Account has been blocked. Please contact support!',
                    confirmButtonText:'OK'
                })
            }
            } else {
                window.location.href=data.redirectUrl;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

        });

    // }); 
    </script>    
</body>
</html>

