<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
       <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="form-modal">
    
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>
    
        <div id="login-form">
            <form action="/api/user/login" method="POST" >
                <input type="text" name="email" placeholder="Enter email" required/>
                <input type="password" name="password" placeholder="Enter password" required/>
                <button type="submit" class="btn login">login</button>
                <p><a href="/forgotten">Forgotten password</a></p>
                <hr/>
    
            </form>
        </div>
    
        <div id="signup-form">
            <form action="/api/user/register" method="POST" class="signup" >
                <input type="text" name="name" placeholder="Choose username" required />
                <input type="email" name="email" placeholder="Enter your email" required/>
                <input type="number" name="mobile" placeholder="Phone number" required/>
                <input type="password" name="password" placeholder="Create password" required/>
                <button type="submit" class="btn signup">create account</button>
                <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p>
                <hr/>
               
            </form>
        </div>
    
    </div>
    <script src="js/signup.js"></script>
</body>
</html>

